.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

form{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input{
    width: 100%;

}

button{
    width: 100%;
}

.error{
    color: red;
    font-weight: bold;
}

