footer{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-items: center;
    gap: 50px;
    background-color: #EBB660;
}

p{
    padding-left: 50px;
}