<main>
    <div>
        <h1> CHI SIAMO </h1>
        <p>
            Benvenuti su Amazzonia, il posto dove gli acquisti online diventano un’avventura! <br>
            Se pensi che Amazon sia troppo serio, sei nel posto giusto: qui vendiamo tutto e niente con un bel sorriso (o forse un meme). <br>
            
            <br><br>
    
            Dai cuscini per gatti alle magliette con meme strani, il nostro obiettivo è portarti il meglio (e il peggio) del web, con un po' di follia in ogni pacco. <br>
            La nostra missione? Fare shopping con meno serietà e più risate. Quindi, se vuoi un’esperienza che ti faccia dire "Cosa ho appena comprato?", sei nel posto giusto. <br>
    
            <br><br>
    
            Amazzonia, dove ogni acquisto è un meme in attesa di essere scoperto!
        </p>
    </div>
    
</main>
